/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

#navbar-top {
	background: linear-gradient(to bottom, rgb(68, 68, 68) 0%, rgb(34, 34, 34) 100%) repeat scroll 0px 0px transparent;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #222;
    border-right: 1px solid #101010;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  /*padding-right: 20px;
  padding-left: 20px;*/
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
	padding: 20px;
}

@media (max-width: 768px) {
	.main {
		padding: 0px;
	}
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.ipclear {
	position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.nav-list > li > a, .nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
}

.nav-header {
  line-height: 20px;
  word-wrap: break-word
}

.nav-list {
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}








.filetree {
    min-height:20px;
    /*
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
    */
}
.filetree li.ftree {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.filetree li.ftree::before, .filetree li.ftree::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.filetree li.ftree::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.filetree li.ftree::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.filetree li.ftree span.dir {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.filetree li.parent_li>span {
    cursor:pointer
}
.filetree>ul>li::before, .filetree>ul>li::after {
    border:0
}
.filetree li.ftree:last-child::before {
    height:30px
}
.filetree li.parent_li>span:hover, .filetree li.parent_li>span:hover+ul li span, .filetree li.parent_li>span:hover+ul li button {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

.fa.folder {
	color: #f7941d;
}

.fa.file {
	color: #999999;	
}

button.panelbtn {
	border-radius: 0 !important;
	border-bottom: 0;
}

.no-radius {
	border-radius:0 !important;
}
.no-margin {
	margin: 0 !important;
}




/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%;
		word-wrap: break-word; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}

















/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #001344;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #001344;
  background-image: #001344;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #001344;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}


.terminal {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	font-family: monospace;
	white-space: pre;
	width: 100%; height: 30em;
	border: none;
	background: #000;
}

.hero-widget { text-align: center; padding-top: 20px; padding-bottom: 20px; }
.hero-widget .icon { display: block; font-size: 5em; line-height: 1em; margin-bottom: 10px; text-align: center; }
.hero-widget var { display: block; height: 35px; font-size: 2em; line-height: 35px; font-style: normal; white-space:normal; }
.hero-widget label { font-size: 17px; }
.hero-widget .options { margin-top: 10px; }

.case-menu a {
	cursor: pointer;
	text-decoration: none;
}

tr:hover td.hasRowSpan { 
          background-color: none;   /* or whatever color you want */
} 



.spin {
   -webkit-animation: spin 2s infinite linear;
   -moz-animation: spin 2s infinite linear;
   -o-animation: spin 2s infinite linear;
   animation: spin 2s infinite linear;
}

.loading {
	float: none;
	font-size: 3em;
	margin: 23% auto 0;
	width: 6em;
}

a {
	outline: 0 !important;
}

span.remove:hover {
	cursor: pointer;
	color: #bbb;
}

input.dateselect[readonly] {
	cursor: pointer;
}



/*
Timegraph -----------------------------
*/
.chart {
	shape-rendering: crispEdges;
}

.mini text {
	font: 9px sans-serif;	
}

.main text {
	font: 12px sans-serif;	
}

.month text {
	text-anchor: start;
}

.todayLine {
	stroke: blue;
	stroke-width: 1.5;
}

.axis line, .axis path {
	stroke: black;
}

.miniItem {
	stroke-width: 6;	
}

.future {
	stroke: gray;
	fill: #ddd;
}

.past {
	stroke: green;
	fill: lightgreen;
}

.brush .extent {
	stroke: gray;
	fill: blue;
	fill-opacity: .165;
}

/*
https://github.com/aus/led.css
*/
.led {
	margin: 20px auto;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.25);
	box-shadow: #000 0 -1px 6px 1px;
}
.led-red {
	background-color: #F00;
	box-shadow: #000 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}

.led-orange {
	background-color: #FF7000;
	box-shadow: #000 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}

.led-green {
	background-color: #80FF00;
	box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}

.dtbody {
	overflow-x:auto;
}